<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Suite1">
    <test name="test1" >
        <classes>
            <class name="testcases.SampleGetTest1" />
            <!--<class name="SampleGetTest2" />-->
            <!--<class name="SamplePostTest" />-->
        </classes>
    </test>
</suite>